@import "./normalize.css";
@import "./tokens.css";
@import "./utilities.css";
@import "./base.css";
@import "./header.css";
@import "./desktop-nav.css";
@import "./hero.css";
@import "./services.css";
@import "./leadership.css";
@import "./footer.css";
@import "./mobile-nav.css";

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: var(--z-layer-tooltip);
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.875rem;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
}