@import "./normalize.css";
@import "./tokens.css";
@import "./theme-toggle.css";
@import "./utilities.css";
@import "./base.css";
@import "./home.css";
@import "./home-animation.css";
@import url('./header.css');
@import url('./desktop-nav.css');
@import url('./mobile-nav.css');
@import url('./about-leadership.css');
@import url('./contact.css');
@import url('./apply-form-stepper.css');



.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: var(--z-layer-tooltip);
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: var(--font-size-sm);
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
}