<ul class="nav-menu flex gap-6">
  <li>
    <a href="#home" class="nav-link nav-link--active">
      <img src="./src/assets/images/icon-home.svg" alt="" class="nav-link__icon" loading="lazy" />
      <span>Home</span>
    </a>
    <img src="./src/assets/images/active-logo-removebg-preview.webp"
         alt="Active page indicator"
         class="nav-link-icon" />
  </li>
  <li>
    <a href="#services" class="nav-link">
      <img src="./src/assets/images/icon-services.svg" alt="" class="nav-link__icon" loading="lazy" />
      <span>Locums</span>
    </a>
  </li>
  <li>
    <a href="#rachtan" class="nav-link">
      <img src="./src/assets/images/icon-about.svg" alt="" class="nav-link__icon" loading="lazy" />
      <span>About us</span>
    </a>
  </li>
  <li>
    <a href="#contact" class="nav-link">
      <img src="./src/assets/images/icon-contact.svg" alt="" class="nav-link__icon" loading="lazy" />
      <span>Contact</span>
    </a>
  </li>
</ul>